{% extends "master_template.html" %} {% block title %} UniversityOfBalochistan {%endblock%} {%block body%}
<table class="table table-hover">
    <tr>
        <th>
            BATCH_TITLE
        </th>
        <th>
            TOTAL_STUDENTS
        </th>
    </tr>
    {% for stud in total_students %}
    <tr>
        <td class="btn btn-default">
            <a href="view_students/{{stud.batch_title}}"> {{ stud.batch_title }} </a>
        </td>
        <td>
            <a href="view_students/{{stud.total_record}}"> {{ stud.total_record }} </a>
        </td>
        {%endfor%}
    </tr>
    <tr>
        <th> Total Students:</th>
        <td>{{total}}

        </td>
    </tr>

</table>{%endblock%}