{% extends "master_template.html" %} {% block title %} UniversityOfBalochistan {%endblock%} {%block body%}

<div class="text-center d-flex justify-content-center">
    <form class="form-signin" action="/dashboard" method="post">
        {% set fname = 'img/'+ params['login_image'] %}
        <img class="h3 mb-3 font-weight-normal" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="100" height="100">
        <h1 class="h3 mb-3 font-weight-normal">Admin Login</h1>
        <div class="form-group">
            <label class="form-control-label  requiredField" for="inputEmail">Username 
            <span class="asteriskField">*</span></label>
            <input class="textinput textInput form-control" type="text" id="uname" name="uname" placeholder="User Name" required autofocus>
        </div>
        <div class="form-group">
            <label class="form-control-label  requiredField" for="pass">Password
            <span class="asteriskField">*</span></label>
            <input class="textinput textInput form-control" type="password" id="pass" name="pass" placeholder="Password" required>
        </div>
        <div class="checkbox mb-3">
            <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <button class="btn btn-md btn-primary btn-block" type="submit">Sign in</button>
        <p class="mt-5 mb-3 text-muted" style="margin-top: 1%">© {{params['blog_name'] }} 2021</p>
    </form>
</div>
{%endblock%}